.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flexcontainer {
  width: 552px;
  display: flex;
  justify-content: space-between;
}
.headertext {
  font-size: 16px;
  font-weight: 400;
  font-family: roboto;
  color: #636060;
  display: flex;
  gap: 50px;
  /* flex-direction: row; */
}

.divtext {
  /* color: #ffffff; */
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poto1 {
  width: 100%;
  height: 606px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pototext1 {
  display: flex;
  font-size: 80px;
  font-weight: 700;
  font-family: roboto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.pototext2 {
  display: flex;
  font-size: 19px;
  font-weight: 400;
  font-family: roboto;
  /* display: flex;
  justify-content: center; */
}
.barati {
  width: 286px;
  height: 312px;
}

.baratistexti {
  font-size: 18px;
  font-weight: 400;
  font-family: rooto;
}
